# Ignore everything in log/ folder
log/

# IDE settings
.idea/

# Python cache
__pycache__/
*.pyc

# Optional: General logs
*.log

#files
log.html
output.xml
report.html

# Ignore sample_test.robot anywhere in the project
**/sample_test.robot